<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{url_for('static', filename='landing.css')}}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-info p-3">
        <div class="container-fluid">
          <div class="navbar-brand">
            <img src="{{url_for('static', filename='images/nav_logo.png')}}" alt="">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">About us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Service 1</a></li>
                  <li><a class="dropdown-item" href="#">Service 2</a></li>
                  <li><a class="dropdown-item" href="#">Service 3</a></li>
                  <li><a class="dropdown-item" href="#">Service 4</a></li>
                  <li><a class="dropdown-item" href="#">Service 5</a></li>
                  <li><a class="dropdown-item" href="#">Service 6</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Toothbrush</a></li>
                  <li><a class="dropdown-item" href="#">Floss</a></li>
                  <li><a class="dropdown-item" href="#">Tootpaste</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
              <li class="nav-item mx-2">
                <a class="nav-link nav-ico text-dark h5" href="" target="blank">
                    <img class="message" src="{{url_for('static', filename='images/message.png')}}" alt="">
                </a> 
                <a class="nav-link nav-ico text-dark h5" href="" target="blank">
                    <img class="account" src="{{url_for('static', filename='images/account.png')}}" alt="">
                </a>
                <img class="separator" src="{{url_for('static', filename='images/separator.png')}}" alt="">
                <a class="nav-link mx-2 login" href="" target="blank">Log In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {%block content%}
    {%endblock%} 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='landing.js')}}"></script>
</body>
</html>